name: Deployment Test on ECMWF

on:
  workflow_dispatch:
    inputs:
      os-external-network-name:
        required: true
        default: 'external-internet'

      os-private-network-name:
        required: true
        default: 'private-cci1-ewcloud-eumetsat-ewc-communityhub'

      os-security-group-name:
        required: true
        default: 'ssh'

      os-keypair-name:
        required: true
        default: 'github-keypair'

      os-flavor-name:
        required: true
        default: '8cpu-16gbmem-80gbdisk'

      os-image-name:
        required: true
        default: 'ubuntu-24.04-20250604102601'

      instance-name-prefix:
        required: true
        default: 'github'

      ansible-user:
        required: true
        default: 'ubuntu'

      path-to-main-file:
        required: true
        default: 'playbooks/ecmwf-data-flavour/ecmwf-data-flavour.yml'

      path-to-requirements-file:
        required: false
        default: 'requirements.yml'

      input-spec-json:
        required: false
        default: '{"reboot_if_required":"false","ecmwf_toolbox_env_wipe":"false","ecmwf_toolbox_env_name":"ecmwf-toolbox","ecmwf_toolbox_create_ipykernel":"true","conda_prefix":"/opt/conda","conda_user":"root"}'

permissions:
  contents: read
  actions: write

jobs:
  deploy-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test deployment
        uses: ewcloud/ewc-gh-action-test-deploy-ansible-playbook@v1
        with:
          os-auth-url: '${{ secrets.ECMWF_OS_AUTH_URL }}'
          os-region-name: '${{ secrets.ECMWF_OS_REGION_NAME }}'
          os-application-credential-id: '${{ secrets.ECMWF_OS_APPLICATION_CREDENTIAL_ID }}'
          os-application-credential-secret: '${{ secrets.ECMWF_OS_APPLICATION_CREDENTIAL_SECRET }}'
          os-external-network-name: '${{ inputs.os-external-network-name }}'
          os-private-network-name: '${{ inputs.os-private-network-name }}'
          os-security-group-name: '${{ inputs.os-security-group-name }}'
          os-keypair-name: '${{ inputs.os-keypair-name }}'
          os-flavor-name: '${{ inputs.os-flavor-name }}'
          os-image-name:  '${{ inputs.os-image-name }}'
          instance-name-prefix: '${{ inputs.instance-name-prefix }}'
          ansible-ssh-private-key: '${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}'
          ansible-user: '${{ inputs.ansible-user }}'
          path-to-main-file: '${{ inputs.path-to-main-file }}'
          path-to-requirements-file: '${{ inputs.path-to-requirements-file }}'
          input-spec-json: '${{ inputs.input-spec-json }}'

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: workspace_artifacts
          path: ${{ github.workspace }}/artifacts